---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container
    %div.home-hero__text
      %a.logo{href: "/index.html"}
      %h1.home-hero__heading
        The Conference for Video Engineers
      %h2.home-hero__sub-heading
        October 23rd and 24th, 2019
        %br.break
        The Midway, San Francisco, CA
      %a.home-hero__btn{href:"https://tickets.demuxed.com/"} Tickets
      %br.break
      %a.home-hero__btn-submit{href:"mailto:sponsor@demuxed.com"} Sponsor

    = image_tag("/images/hero.gif", alt: "Demuxed Hero Illustration", class: "hero-illustration")
    = image_tag("/images/hero-shapes.svg", alt: "", class: "hero-shapes")
    = image_tag("/images/hero-shapes2.svg", alt: "", class: "hero-shapes2")

%section.why#why
  %div.container
    %h2.section-heading
      Why?
      %span
        Attend Demuxed

    %ul.why__list
      %li.no-marketing
        %h3 No paid content, ever.
        %p
          Speakers are selected based on their submission, not how much money their company paid; we will never, ever sell a speaking slot. Attendee information isn't for sale either, and that includes any sponsors.
      %li.affordable
        %h3 Affordable.
        %p
          We want anyone in the industry to be able to come, which means keeping tickets reasonably priced (thanks largely to our generous sponsors). We also offer free and discounted tickets to students and open source contributors, so please <a href="mailto:info@demuxed.com">reach out</a> if you're interested.
      %li.for-everyone
        %h3 For everyone in the community.
        %p
          Our community is dedicated to providing an inclusive, enjoyable experience for everyone in the video industry. In this pursuit, and in keeping with our love for reasonable standards, we adopted the Ada Initiative's <a href="/code-of-conduct.html">Conf Code of Conduct</a>.


    %div.share-box
      %h4.share-box__title
        Share using
      %h3.share-box__text
        \#Demuxed2019

    = image_tag("/images/why-photo.jpg", alt: "Demuxed audience", class: "why-photo")
    = image_tag("/images/why-photo2.jpg", alt: "Demuxed conference speaker", class: "why-photo2")
    = image_tag("/images/why-photo4.jpg", alt: "Demuxed audience", class: "why-photo3")
    %div.grey-box.why-box1
    %div.grey-box.why-box2
    %div.pink-box.why-box3
    %div.purple-box.why-box4
    %div.pink-box.why-box5

%section.speakers#speakers
  %div.container
    = image_tag("/images/speakers-photo4.jpg", alt: "Demuxed conference location", class: "speaker-photo")

    %h2.section-heading
      = data.speakers.length
      %span
        Amazing speakers

    %ul.speakers-list
      - data.speakers.each do |speaker|
        = partial 'partials/speaker', locals: {speaker: speaker}


    = image_tag("/images/trolley.svg", alt: "", class: "speaker-illustration")
    = image_tag("/images/speakers-photo.jpg", alt: "", class: "speaker-photo2")
    = image_tag("/images/speakers-photo3.jpg", alt: "", class: "speaker-photo3")
    %div.purple-box.speaker-box1
    %div.pink-box.speaker-box2
    %div.grey-box.speaker-box3
    %div.purple-box.speaker-box4
    %div.pink-box.speaker-box5

%section.location#location
  %div.container
    %h2.section-heading
      Venue &
      %span
        location

    %div.location-text
      %h2
        The Midway, SF

      %p
        The Midway is a new, multifaceted creative complex, located in San Francisco’s burgeoning Dogpatch neighborhood. Equal parts creative laboratory and performance space, The Midway is a sprawling 40,000 square-foot venue for the public to engage with a variety of exhibitions, workshops, performances and special events. Housing art, food, music & emerging technologies under one synergistic and collaborative roof, The Midway is the perfect place for San Francisco’s creative communities to collide.

      %a{href:"https://www.themidwaysf.com"}TheMidwaySF

    %a.map-link{href:"https://goo.gl/maps/Ue9PNKtYmBN2"}
      = image_tag("/images/2019-map.png", alt: "", class: "")

    = image_tag("/images/location-photos.jpg", alt: "", class: "location-photos")
    = image_tag("/images/painted-ladies.svg", alt: "", class: "location-illustration")
    %div.purple-box.location-box1
    %div.pink-box.location-box2

%section.about-us#about-us
  %div.container
    = image_tag("/images/about-us-photo4.jpg", alt: "Demuxed conference", class: "about-us-photo")

    %h2.section-heading
      About
      %span
        Demuxed

    %div.about-us__text
      %p
        Demuxed is simply engineers talking about video technology. After years of chatting about video at the <a href="http://www.meetup.com/SF-Video-Technology/">SF Video Technology Meetup</a>, we decided it was time for an engineer-first event with quality technical talks about video. Our focus has traditionally been on content delivered over the web, but topics cover anything from encoding to playback and more!

      %h3 Yeah but who are <span style="text-decoration:underline">you</span>?
      %p
        Most of the organization and work behind the scenes is done by folks from <a href="https://mux.com">Mux</a> (Demuxed came first ☝️) but none of this would be possible without amazing people from the meetup.

      %p
        Every year we get a group together that's kind enough to do things like schedule planning, help brainstorm cool swag, and, most importantly, argue heatedly over which talk submissions should make the final cut.

    = image_tag("/images/about-us-photo2.jpg", alt: "Demuxed conference speaker", class: "about-us-photo2")
    = image_tag("/images/about-us-photo.jpg", alt: "Demuxed attendees", class: "about-us-photo3")
    %div.grey-box.about-box1
    %div.pink-box.about-box2


%section.sponsors#sponsors
  %div.container
    = image_tag("/images/computer-chip.svg", alt: "ASIC Chip illustration", class: "sponsors-illustration")

    %div.grey-box.sponsors-box1
    %div.purple-box.sponsors-box2

    %h2.section-heading
      Amazing 2019
      %span Sponsors

    %h4.sponsors__type
      Platinum

    %ul.sponsors__sponsor-list.platinum
      %li
        = link_to(image_tag("/images/sponsor-logos/google.svg", alt: "Google", class: ""), "https://google.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/netflix.svg", alt: "Netflix", class: ""), "https://netflix.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")

    %h4.sponsors__type
      Gold

    %ul.sponsors__sponsor-list.gold
      %li
        = link_to(image_tag("/images/sponsor-logos/bitmovin.svg", alt: "Bitmovin", class: ""), "https://bitmovin.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/haivision.png", alt: "Haivision", class: ""), "https://www.haivision.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/stackpath.png", alt: "Stackpath", class: ""), "https://www.stackpath.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/aws.png", alt: "Amazon Web Services", class: "", style: "width: 115px;"), "https://aws.amazon.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")


    %h4.sponsors__type
      Silver

    %ul.sponsors__sponsor-list.silver
      %li
        = link_to(image_tag("/images/sponsor-logos/beamr.svg", alt: "Beamr", class: ""), "https://beamr.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/cbs.svg", alt: "CBS Interactive", class: ""), "https://cbsinteractive.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/fastly.svg", alt: "Fastly", class: ""), "https://fastly.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/istream.png", alt: "iStreamPlanet", class: ""), "https://www.istreamplanet.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/vimeo.svg", alt: "Vimeo", class: ""), "https://vimeo.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/wowza.svg", alt: "Wowza", class: ""), "https://wowza.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")


    %h4.sponsors__type
      Bronze
    %ul.sponsors__sponsor-list.bronze
      %li
        = link_to(image_tag("/images/sponsor-logos/id3as.png", alt: "id3as", class: ""), "http://id3as.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/peer5.png", alt: "Peer5", class: ""), "https://peer5.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/unified-streaming.png", alt: "Unified Streaming", class: ""), "https://unified-streaming.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/kaltura.png", alt: "Kaltura", class: ""), "https://corp.kaltura.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/limelight.png", alt: "Limelight", class: ""), "https://www.limelight.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/philo.svg", alt: "Philo", class: ""), "https://www.philo.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/touchstream.png", alt: "Touchstream", class: ""), "https://touchstream.media/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/dpp.png", alt: "DPP", class: "", style: "width: 80px;"), "https://www.thedpp.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/warner-media.png", alt: "Warner Media", class: ""), "http://warnermediagroup.com/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/eluvio.png", alt: "Eluvio", class: ""), "https://www.eluv.io/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")
      %li
        = link_to(image_tag("/images/sponsor-logos/mozilla.svg", alt: "Mozilla", class: ""), "https://www.mozilla.org/?ref=demuxed", target: "_blank", rel: "noopener noreferrer")

    %h4.sponsors__type
      Party

    %ul.sponsors__sponsor-list.party
      %li
        = link_to(image_tag("/images/sponsor-logos/twitter-cropped.png", alt: "Twitter", class: "", style: "width: 100px;"), "https://twitter.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")

    %h4.sponsors__type
      Conference organizers

    %ul.sponsors__sponsor-list.conf
      %li
        = link_to(image_tag("/images/sponsor-logos/mux.svg", alt: "Mux", class: ""), "https://mux.com?ref=demuxed", target: "_blank", rel: "noopener noreferrer")

- data.talks.each do |talk|
  = partial 'partials/talk-modal', locals: {talk: talk, speakers: data.speakers}
